[user]
	name = Cepeda Nicolas
	email = nicolas@contovista.com
[core]
	editor = vim
	excludesfile = /Users/nicolas/.shell/git/gitignore_global
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
